In [1]:
# Import dependencies
import pandas as pd
import os

In [2]:
# Read file into DataFrame
#team_one = os.path.join('../','Resources', 'pools.csv')
#df= pd.read_csv(team_one)
pool_df = pd.read_csv('../Resources/ratings_and_sentiments.csv')
pool_df

,coffee_shop_name,review_text,rating,num_rating,cat_rating,bool_HIGH,overall_sent,vibe_sent,tea_sent,service_sent,seating_sent,price_sent,parking_sent,location_sent,alcohol_sent,coffee_sent,food_sent,hours_sent,internet_sent,local_sent
0,The Factory - Cafe With a Soul,11/25/2016 1 check-in Love love loved the vibe...,5.0 star rating,5,HIGH,1,4,3,0,0,0,0,0,0,1,3,0,0.0,0,0
1,The Factory - Cafe With a Soul,"12/2/2016 Listed in Date Night: Austin, vibe i...",4.0 star rating,4,HIGH,1,3,3,0,0,0,0,0,0,0,0,2,0.0,0,0
2,The Factory - Cafe With a Soul,11/30/2016 1 check-in Listed in food seating I...,4.0 star rating,4,HIGH,1,2,2,0,0,3,0,0,0,0,-1,2,0.0,0,0
3,The Factory - Cafe With a Soul,11/25/2016 Very cool vibe! Good drinks Nice se...,2.0 star rating,2,LOW,0,1,0,0,0,-1,-1,0,0,0,0,0,0.0,0,0
4,The Factory - Cafe With a Soul,12/3/2016 1 check-in They are location within ...,4.0 star rating,4,HIGH,1,2,0,0,0,0,0,3,0,0,0,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7611,The Steeping Room,2/19/2015 I actually step into this restaurant...,4.0 star rating,4,HIGH,1,2,NaN,0,0,0,0,0,0,0,3,-1,0.0,0,0
7612,The Steeping Room,"1/21/2016 Ok, The coffeeing seating IS awesome...",5.0 star rating,5,HIGH,1,1,NaN,0,0,2,0,0,0,0,0,0,0.0,0,0
7613,The Steeping Room,"4/30/2015 Loved coming here for tea, and the v...",4.0 star rating,4,HIGH,1,3,NaN,3,0,0,0,0,0,0,0,0,0.0,0,0
7614,The Steeping Room,8/2/2015 The food is just average. The booths ...,3.0 star rating,3,LOW,0,1,NaN,2,0,0,0,0,0,0,1,0,0.0,0,0
7615,The Steeping Room,5/23/2015 I finally stopped in for food with m...,4.0 star rating,4,HIGH,1,2,NaN,0,0,0,0,0,0,0,0,0,NaN,0,0

In [3]:
# Find all reviews with a number rating greater than or equal to 4.
#rating= (pool_df['num_rating']>=4).value_counts()
rating_df= pool_df[pool_df['num_rating']>=4]
len(rating_df)

6140

In [4]:
# Find all the coffee shops with a overall sentiment greater than or equal to 4.
overall_df = pool_df[pool_df['overall_sent']>=4]
len(overall_df)

32

In [5]:
len(pool_df[(pool_df['overall_sent']>=4) & (pool_df['num_rating']>=4)])

32

In [6]:
# Return the count of the above query.
len(pool_df[(pool_df['overall_sent'] >= 4) & (pool_df['num_rating'] >= 4)])

32

In [7]:
# Change the name of the review_text column to review
pool_df.rename (columns = {'review_text':'review'})

,coffee_shop_name,review,rating,num_rating,cat_rating,bool_HIGH,overall_sent,vibe_sent,tea_sent,service_sent,seating_sent,price_sent,parking_sent,location_sent,alcohol_sent,coffee_sent,food_sent,hours_sent,internet_sent,local_sent
0,The Factory - Cafe With a Soul,11/25/2016 1 check-in Love love loved the vibe...,5.0 star rating,5,HIGH,1,4,3,0,0,0,0,0,0,1,3,0,0.0,0,0
1,The Factory - Cafe With a Soul,"12/2/2016 Listed in Date Night: Austin, vibe i...",4.0 star rating,4,HIGH,1,3,3,0,0,0,0,0,0,0,0,2,0.0,0,0
2,The Factory - Cafe With a Soul,11/30/2016 1 check-in Listed in food seating I...,4.0 star rating,4,HIGH,1,2,2,0,0,3,0,0,0,0,-1,2,0.0,0,0
3,The Factory - Cafe With a Soul,11/25/2016 Very cool vibe! Good drinks Nice se...,2.0 star rating,2,LOW,0,1,0,0,0,-1,-1,0,0,0,0,0,0.0,0,0
4,The Factory - Cafe With a Soul,12/3/2016 1 check-in They are location within ...,4.0 star rating,4,HIGH,1,2,0,0,0,0,0,3,0,0,0,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7611,The Steeping Room,2/19/2015 I actually step into this restaurant...,4.0 star rating,4,HIGH,1,2,NaN,0,0,0,0,0,0,0,3,-1,0.0,0,0
7612,The Steeping Room,"1/21/2016 Ok, The coffeeing seating IS awesome...",5.0 star rating,5,HIGH,1,1,NaN,0,0,2,0,0,0,0,0,0,0.0,0,0
7613,The Steeping Room,"4/30/2015 Loved coming here for tea, and the v...",4.0 star rating,4,HIGH,1,3,NaN,3,0,0,0,0,0,0,0,0,0.0,0,0
7614,The Steeping Room,8/2/2015 The food is just average. The booths ...,3.0 star rating,3,LOW,0,1,NaN,2,0,0,0,0,0,0,1,0,0.0,0,0
7615,The Steeping Room,5/23/2015 I finally stopped in for food with m...,4.0 star rating,4,HIGH,1,2,NaN,0,0,0,0,0,0,0,0,0,NaN,0,0

In [8]:
# Change the name of the bool_HIGH column to bool_high
pool_df.rename(columns = {'bool_HIGH':'bool_high'})

,coffee_shop_name,review_text,rating,num_rating,cat_rating,bool_high,overall_sent,vibe_sent,tea_sent,service_sent,seating_sent,price_sent,parking_sent,location_sent,alcohol_sent,coffee_sent,food_sent,hours_sent,internet_sent,local_sent
0,The Factory - Cafe With a Soul,11/25/2016 1 check-in Love love loved the vibe...,5.0 star rating,5,HIGH,1,4,3,0,0,0,0,0,0,1,3,0,0.0,0,0
1,The Factory - Cafe With a Soul,"12/2/2016 Listed in Date Night: Austin, vibe i...",4.0 star rating,4,HIGH,1,3,3,0,0,0,0,0,0,0,0,2,0.0,0,0
2,The Factory - Cafe With a Soul,11/30/2016 1 check-in Listed in food seating I...,4.0 star rating,4,HIGH,1,2,2,0,0,3,0,0,0,0,-1,2,0.0,0,0
3,The Factory - Cafe With a Soul,11/25/2016 Very cool vibe! Good drinks Nice se...,2.0 star rating,2,LOW,0,1,0,0,0,-1,-1,0,0,0,0,0,0.0,0,0
4,The Factory - Cafe With a Soul,12/3/2016 1 check-in They are location within ...,4.0 star rating,4,HIGH,1,2,0,0,0,0,0,3,0,0,0,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7611,The Steeping Room,2/19/2015 I actually step into this restaurant...,4.0 star rating,4,HIGH,1,2,NaN,0,0,0,0,0,0,0,3,-1,0.0,0,0
7612,The Steeping Room,"1/21/2016 Ok, The coffeeing seating IS awesome...",5.0 star rating,5,HIGH,1,1,NaN,0,0,2,0,0,0,0,0,0,0.0,0,0
7613,The Steeping Room,"4/30/2015 Loved coming here for tea, and the v...",4.0 star rating,4,HIGH,1,3,NaN,3,0,0,0,0,0,0,0,0,0.0,0,0
7614,The Steeping Room,8/2/2015 The food is just average. The booths ...,3.0 star rating,3,LOW,0,1,NaN,2,0,0,0,0,0,0,1,0,0.0,0,0
7615,The Steeping Room,5/23/2015 I finally stopped in for food with m...,4.0 star rating,4,HIGH,1,2,NaN,0,0,0,0,0,0,0,0,0,NaN,0,0

In [9]:
# Save your changes to the file as a pipe delimited file.
pool_df.to_csv('pool_df',sep= '|')

In [10]:
pool_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7616 entries, 0 to 7615
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   coffee_shop_name  7616 non-null   object
 1   review_text       7616 non-null   object
 2   rating            7616 non-null   object
 3   num_rating        7616 non-null   int64
 4   cat_rating        7616 non-null   object
 5   bool_HIGH         7616 non-null   int64
 6   overall_sent      7616 non-null   int64
 7   vibe_sent         4507 non-null   object
 8   tea_sent          7616 non-null   int64
 9   service_sent      7616 non-null   int64
 10  seating_sent      7616 non-null   int64
 11  price_sent        7616 non-null   int64
 12  parking_sent      7616 non-null   object
 13  location_sent     7616 non-null   int64
 14  alcohol_sent      7616 non-null   int64
 15  coffee_sent       7616 non-null   object
 16  food_sent         7616 non-null   object
 17  hours_sent        7615 non-null   float64
 18  internet_sent     7616 non-null   int64
 19  local_sent        7616 non-null   int64
dtypes: float64(1), int64(11), object(8)
memory usage: 1.2+ MB

In [11]:
len(pool_df)

7616